extends layout

block content
  h1= title
  - let results = [{parrot_color:"Blue",parrot_weight:"44p",parrot_cost:"$100"},{parrot_color:"Green",parrot_weight:"30p",parrot_cost:"$150"},{parrot_color:"Red",parrot_length:"65p",parrot_cost:"$700"}]
  div(class="container-fluid")
    div(class="row")
      each item,index in results
        div(class="col-sm-2",onClick=`buy(${index})`)
          p Color is #{item.parrot_color}
          p Weight is #{item.parrot_length}
          p Cost is #{item.parrot_cost}

  //- Bonus Logic
  script.
    function buy(itr) {
      itr = itr+1;
      alert(`You Purchased Item ${itr}`);
    }